.grid{
    width: 100%;
}

.row-wrapper{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 -8px 0 -8px;
  width: 100%;
}

.col-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px;

//     width: ${({ xs, sm, md, lg, xl }) =>
//     ((xl || lg || md || sm || xs || 12) / 12) * 100 + "%"};

//   @media (max-width: 578px) {
//     width: ${({ xs }) => ((xs || 12) / 12) * 100 + "%"};
//   }

//   @media (min-width: 579px) and (max-width: 768px) {
//     width: ${({ xs, sm }) => ((sm || xs || 12) / 12) * 100 + "%"};
//   }

//   @media (min-width: 769px) and (max-width: 960px) {
//     width: ${({ xs, sm, md }) => ((md || sm || xs || 12) / 12) * 100 + "%"};
//   }

//   @media (min-width: 961px) and (max-width: 1200px) {
//     width: ${({ xs, sm, md, lg }) =>
//       ((lg || md || sm || xs || 12) / 12) * 100 + "%"};
//   }
}